@inherits LayoutComponentBase
@using StructuredOcr.Components.Shared

<ConfigLoader />

<BbSidebarProvider DefaultOpen="true" Variant="SidebarVariant.Sidebar">
    <BbSidebar>
        <NavMenu />
        <BbSidebarRail />
    </BbSidebar>
    <BbSidebarInset>
        <main class="flex-1 p-6 min-w-0 overflow-x-hidden">
            @Body
        </main>
    </BbSidebarInset>
</BbSidebarProvider>

<BbPortalHost />
<BbToastProvider />
<BbDialogProvider />
